*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: gray;
}
.n-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.list{
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}
.bg{
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
span{
    color: red;
}
.bg-con h2{
   font-size: 90px;
   
}
.bg-con{
    width: 800px;
}
.bg-con p{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    
 }
 .btn{
    background: red;
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: large;
 }
 .but{
    background: white;
    border: none;
    color: black;
    padding: 15px 20px;
    font-size: large;
    margin-left: 10px;
 }
 .more-con{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
   
 }
 
 .author-con img{
    border-radius: 100px;
    width: 40%;
 }
.author-con{
    display: flex;
    align-items: center;
    border-right: 1px solid red;
    gap: 5px;
}
.wev-dev img{
    width: 80px;
    margin-bottom: 15px;
    margin-top: 10px;
   
}
.wev-dev{
    width: 150px;
    height: 180px;
    background-color: white;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
   
}
.service-container{
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.web-con{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.service-list{
    width: 500px;
}
.smith{
    display: flex;
}
.service-list button{
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
    border: none;
}
.more-con button{
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: red;
    margin-left: 10px;
    border: none;
}